<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    
    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:requestLegacyExternalStorage="true">
        <!-- Entry Activity -->
        <activity android:name="com.unity3d.player.UnityPlayerGameActivity"
                  android:theme="@style/BaseUnityGameActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
            <meta-data android:name="android.app.lib_name" android:value="game" />
        </activity>

        <!-- Content Providers -->
        <provider
            android:name="com.cartoontexas.andyr.unityplugin.UnitySSContentProvider"
            android:authorities="MapsMCPE"
            android:exported="false"
            android:grantUriPermissions="true" />
        <provider
            android:name="com.cartoontexas.andyr.unityplugin.UnitySSContentProvider"
            android:authorities="velocitygamers_skineditor"
            android:exported="false"
            android:grantUriPermissions="true" />
        <provider
            android:name="com.cartoontexas.andyr.unityplugin.UnitySSContentProvider"
            android:authorities="velocitygamers_capeeditor"
            android:exported="false"
            android:grantUriPermissions="true" />
    </application>
</manifest>
